/* text- color - #757575; */
/* titel- color -  #212121; */
/* activ- color - #2196F3; */
/* h1- color - #FFFFFF;
 */

:root {
  --text-color: #757575;
  --titel-color: #212121;
  --activ-color: #2196f3;
  --h1-color: #ffffff;
}
body {
  color: var(--titel-color);
}
/* header */
.header {
  background-color: #ffffff;
}
span {
  color: var(--activ-color);
}

.link,
.logo {
  color: var(--titel-color);
  text-decoration: none;
}
.link:hover,
.link:focus,
.logo:hover,
.logo:focus {
  color: var(--activ-color);
}
.contact {
  color: var(--text-color);
  text-decoration: none;
}
.contact:hover,
.contact:focus {
  color: var(--activ-color);
}

/* hiro */
.hiro {
  background-color: #2f303a;
}
.hiro-title {
  color: var(--h1-color);
}
.hiro-button {
  color: #ffffff;
  background-color: #2196f3;
}
.hiro-button:hover,
.hiro-button:focus {
  color: #2196f3;
  background-color: #ffffff;
}

/* advantage */
.advantage {
  background-color: #e5e5e5;
}
.title {
  color: var(--titel-color);
}
.advantage-text {
  color: var(--text-color);
}

/* examples */
.examples {
  background-color: #e5e5e5;
}
.examples-list {
  list-style-type: none;
}
.examples-title {
  color: var(--titel-color);
}

/* ourteam */
.ourteam {
  background-color: #f5f4fa;
}
.ourteam-title {
  color: var(--titel-color);
}
.ourteam-list {
  list-style-type: none;
}
.ourteam-list .title {
  color: var(--titel-color);
}
.ourteam-list .text {
  color: var(--text-color);
}

/* footer */
.footer {
  background-color: #2f303a;
}
.logo.footer-logo {
  color: var(--h1-color);
}
.logo.footer-logo:hover,
.logo.footer-logo:focus {
  color: var(--activ-color);
}
.address {
  color: var(--h1-color);
}
.address-mail,
.address-phone {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.address-mail:hover,
.address-mail:focus,
.address-phone:hover,
.address-phone:focus {
  color: var(--activ-color);
}
